/**
 * Widget Bundle general backend end styles
 *
 * @package widget-bundle
 *
 * @since   1.0.0
 *
 * @author  Devnath verma <devnathverma@gmail.com>
*/

div.wb4wp-container-fluid .wb4wp-nav-tabs {
    border-bottom: 2px solid #3498DB;
    width: 100%;
}

div.wb4wp-container-fluid .wb4wp-nav-tabs li {
    float: left;
    text-align: left;
    margin-right: 2px;
    margin-bottom: 2px;
}

div.wb4wp-container-fluid .wb4wp-tab-content { width: 100%; float: left; }

div.wb4wp-container-fluid .form-card { text-align: left; }

div.wb4wp-container-fluid input {
    padding: 5px 5px 5px 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    letter-spacing: 1px;
}

div.wb4wp-container-fluid select {
	max-width:100%;
	padding: 0px 10px 0px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 5px;
    margin-top: 0px;
    box-sizing: border-box;
    letter-spacing: 1px;
	height:35px;
}

div.wb4wp-container-fluid input:focus, div.wb4wp-container-fluid textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #272e38;
    outline-width: 0;
}

div.wb4wp-container-fluid .wb4wp-checkbox .wb4wp-checkbox-input { position: absolute; opacity: 0; }

div.wb4wp-container-fluid .wb4wp-checkbox .wb4wp-checkbox-input:checked+.wb4wp-checkbox-label { border: 2px solid #3498DB; }

div.wb4wp-container-fluid .wb4wp-checkbox .wb4wp-checkbox-label:hover { border: 2px solid #3498DB; }

div.wb4wp-container-fluid .wb4wp-checkbox .wb4wp-checkbox-label {
	display: -webkit-box;
	display: flex;
    height: 170px;
	max-width: 100%;
	border: 1px solid #d2d4d6;
	border-radius: 0px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

div.wb4wp-container-fluid .wb4wp-checkbox .wb4wp-label-text {
    padding: 0.5em;
    color: #777777;
    text-align: center;
}

div.wb4wp-container-fluid .wb4wp-checkbox img { max-width: 100%; }

div.wb4wp-container-fluid input.action-button {
    font-weight: 500;
    border: 1px solid #0071a1;
    background: #3498DB;
    color: white;
    cursor: pointer;
    padding: 7px 15px;
}

div.wb4wp-container-fluid .wb4wp-update {
	font-weight: 500;
	text-align: left;
    color: #3498DB;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0976563) 2px 0px 2px 1px;
    border-left: 3px solid #3498DB;
    padding: 8px 0px 8px 10px;
    float: left;
    width: 100%;
    margin-bottom: 1em;
}

div.widget-content .wb4wp-multi-checkbox {
	font-size: 13px;
    margin-bottom: 10px;
    border: 1px solid #7e8993;
    padding: 5px;
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    width: 100%;
    height: 100px;
    overflow-y: scroll;
}

div.widget-content .wb4wp-uploader { margin-bottom: 15px; margin-top: 15px; }

div.widget-content .wb4wp-thumbnail {
	border: 1px solid #ccc;
	padding: 2px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	max-width: 100%;
}

div.widget-content div.multiple_image_container div.multiple_image_container_inner, div.widget-content ul.social_icon_container li.social_icon_row {
	border-radius: 3px;
    padding: 1em;
    border: 1px solid #7e8993;
    margin-bottom: 1em;
}

div.widget-content div.social_icon_container_clone { display: none; }

div.widget-content div.multiple_image_container div.multiple_image_container_inner img.multiple_image_preview { max-width: 100%; }

div.widget-content div.multiple_image_container a.multiple_delete_image, div.widget-content ul.social_icon_container a.social_icon_delete {
    float: right;
    display: block;
    margin-right: -25px;
    margin-top: -25px;
    outline: 0 none;
    text-indent: -9999px;
}

div.widget-content div.multiple_image_container a.multiple_delete_image .multiple_delete_image_icon, div.widget-content ul.social_icon_container a.social_icon_delete .social_icon_delete_image {
    float: right;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}

div.widget-content input.widget-button-small-input { width: 15%; }